<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Tests.Properties.Settings>
            <setting name="Site" serializeAs="String">
                <value>https://csharpapi.zendesk.com/api/v2/</value>
            </setting>
            <setting name="DefaultOrg" serializeAs="String">
                <value>csharpapi</value>
            </setting>
            <setting name="Email" serializeAs="String">
                <value>eric.neifert@gmail.com</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>pa55word</value>
            </setting>
            <setting name="ApiToken" serializeAs="String">
                <value>R5PXRh5hEwT9Ry3hfSzGF2WKsxPf3ScSCq0suxii</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>281513402</value>
            </setting>
            <setting name="SampleTicketId" serializeAs="String">
                <value>1364</value>
            </setting>
            <setting name="SampleTicketId2" serializeAs="String">
                <value>1366</value>
            </setting>
            <setting name="EndUserId" serializeAs="String">
                <value>287004928</value>
            </setting>
            <setting name="ColloboratorEmail" serializeAs="String">
                <value>eneif123@yahoo.com</value>
            </setting>
            <setting name="CollaboratorId" serializeAs="String">
                <value>282136547</value>
            </setting>
            <setting name="CustomFieldId" serializeAs="String">
                <value>22117646</value>
            </setting>
            <setting name="CustomBoolFieldId" serializeAs="String">
                <value>23812686</value>
            </setting>
            <setting name="GroupId" serializeAs="String">
                <value>20402842</value>
            </setting>
            <setting name="OrganizationId" serializeAs="String">
                <value>22560572</value>
            </setting>
            <setting name="ViewName" serializeAs="String">
                <value>My unsolved tickets</value>
            </setting>
            <setting name="ViewId" serializeAs="String">
                <value>31559032</value>
            </setting>
            <setting name="TicketFormId" serializeAs="String">
                <value>26227</value>
            </setting>
            <setting name="CustomFieldTypeOfFeedbackId" serializeAs="String">
                <value>23999346</value>
            </setting>
        </Tests.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <Tests.Properties.Settings>
            <setting name="Phone" serializeAs="String">
                <value>1234567890</value>
            </setting>
            <setting name="BadPhone" serializeAs="String">
                <value>0987654321</value>
            </setting>
            <setting name="FormattedPhone" serializeAs="String">
                <value>(111) 222-3333</value>
            </setting>
        </Tests.Properties.Settings>
    </userSettings>
</configuration>